.content-container {
    max-height: 100vh;
    overflow-y: scroll;
}

.dropdown-category-container .dropdown-toggle::after {
    float: right;
    margin-top: 0.8rem;
}
.dropdown-relative {
    position: relative!important;
    transform: none!important;
}
.size-container input {
    display: none;
}

.size-container label {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #cbc3c3;
    line-height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #cbc3c3;
}

.checkbox-size:checked + label {
    border: 1px solid #cbc3c3;
    color: #000;
    background-color: #fff;
    box-shadow: -0.2px -1px 2px 2px #cbc3c3;
}

.dropdown-item .checkbox-category:checked {
    background-image: none!important;
    background-color: #2e2727;
}

.checkbox-hole {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    left: 1.35rem;
    top: .8rem;
}

.col-15,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-15 {
    width: 20%!important;
    float: left;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.card-header-container {
    position: relative;
}

.card-border-header-color {
    border-left: 2px solid;
    height: 2.5rem;
    position: absolute;
    top: 0.75rem;
    left: 0;
}

.card-footer-icon-container img {
    width: 60px;
    margin-left: 15px;
}