:root {
    --thumbHeight: 12px;
    --trackHeight: 2px;
}
.rail-hotspot {
    width: 100%;
    position: absolute;
    height: calc(var(--thumbHeight) * 2);
    top: calc(var(--thumbHeight) * -1);
    cursor: pointer;
}

.rail {
    background-color: rgb(156 163 175);
    width: 100%;
    height: var(--trackHeight);
    position: absolute;
    pointer-events: none;
}

.handles {
    background-color: #000000;
    margin-left: calc(var(--thumbHeight) * -0.5);
    margin-top: calc(var(--thumbHeight) * -0.5);
    width: var(--thumbHeight);
    height: var(--thumbHeight);
    border: 0;
    border-radius: 50%;
    white-space: nowrap;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.handles-text {
    position: relative;
    top: 8px;
    left: -6px;
}

.track {
    background-color: #000000;
    height: var(--trackHeight);
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.track-hotspot {
    height: var(--thumbHeight);
    top: calc(var(--thumbHeight) * -0.5);
    position: absolute;
    cursor: pointer;
}

.slider-ticks {
    display: none;
}

.tick {
    position: absolute;
    margin-top: 14px;
    width: 1px;
    height: 5px;
    background-color: rgb(156 163 175);
}

.label {
    position: absolute;
    margin-top: 22px;
    text-align: center;
}